name: Check diff between latest commits and create an issue if the is a difference.

on:
  push:
    branches:
      - main
    paths:
      - templates/**

  workflow_dispatch:

jobs:

  notify-diff:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        # For HEAD^2
        fetch-depth: 2

    - name: Generate Token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
      with:
        app_id: ${{ secrets.AUTH_APP_ID }}
        private_key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}

    - name: Set up Python
      # templates/_templating_scripting.py only needs builtins to run.
      uses: actions/setup-python@v5

    - name: Diff and Create GitHub Issues
      id: create_issues
      env:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      run: templates/_templating_scripting.py notify-updates
